---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Our Team">
  <div class="container" style="padding: var(--spacing-6) 0;">
    <h1>Our Team</h1><p>Our dedicated staff of administrators, certified rehabilitation staff, and community mentors are here to lead by example.</p>
  </div>
</Layout>
