---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Accessibility Statement">
  <div class="container" style="padding: var(--spacing-6) 0;">
    <h1>Accessibility</h1><p>We are fully committed to creating an accessible experience. This website adheres to WCAG guidelines by relying on semantic definitions, high contrast spacing, skip links, and ARIA disclosures.</p>
  </div>
</Layout>
